<div class="row">
  <div class="col-xs-12">
    <h2>Add an action</h2>
    <form [formGroup]="addActionForm" (ngSubmit)="onSaveData()">
      <div class="form-group">
        <label for="action">Action</label>
        <input type="text" id="action" class="form-control" formControlName="action">
      </div>

      <div class="form-group">
        
        <!--
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="allDay" [checked]=allDay formControlName="allDay" (click)="clickAll()">
            <label class="form-check-label" for="allDay">
              Every day
            </label>
        </div>
        -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="mon" formControlName="mon">
          <label class="form-check-label" for="mon">
            Mon
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="tue" id="tue"  formControlName="tue">
            <label class="form-check-label" for="tue">
              Tue
            </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="wed" id="wed" formControlName="wed">
            <label class="form-check-label" for="wed">
              Wed
            </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="thu" id="thu" formControlName="thu">
            <label class="form-check-label" for="thu">
              Thu
            </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="fri" id="fri" formControlName="fri">
            <label class="form-check-label" for="fri">
              Fri
            </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="sat" id="sat" formControlName="sat">
            <label class="form-check-label" for="sat">
              Sat
            </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="sun" id="sun" formControlName="sun">
            <label class="form-check-label" for="sun">
              Sun
            </label>
        </div>

      </div>
      <button class="btn btn-primary" type="submit" [disabled]="addActionForm.invalid">Add action</button>
    </form>

  </div>
</div>